/*手机端样式*/
img{-webkit-user-select:​ none}
.main97{ width:100%;height:100%;min-width:300px; max-width:640px;margin:0 auto; background:url(../../../images/mod/mod97/bg.jpg) no-repeat; background-size:100% 100%;-webkit-box-sizing: border-box; -moz-box-sizing:border-box; position:relative;}
.menu97{width:76%;position:absolute;left:12%;bottom:20%;overflow:hidden;z-index:100;}
.menu97 a{display:block;width:49%;overflow:hidden;background-color:#FFF;margin-top:6px;height:44px;line-height:44px;text-align:center;filter:alpha(opacity=90);-moz-opacity:0.9;opacity: 0.9;font-size:16px;overflow:hidden;color:#333;}
.f_l{float:left;}
.f_r{float:right;}
footer {background-color:#333;height:28px;line-height:28px;display:block; width:100%; color:#FFF; font-size:1.4em; text-align:center;}


.menu97 a:nth-child(1){-webkit-animation: myfirst1 0.3s;}
.menu97 a:nth-child(2){-webkit-animation: myfirst2 0.4s;}
.menu97 a:nth-child(3){-webkit-animation: myfirst3 0.5s;}
.menu97 a:nth-child(4){-webkit-animation: myfirst4 0.6s;}
.menu97 a:nth-child(5){-webkit-animation: myfirst5 0.7s;}
.menu97 a:nth-child(6){-webkit-animation: myfirst6 0.8s;}



@-webkit-keyframes myfirst
{
0%   {top:-1000px;}
100% {top:5%;}
}
@-webkit-keyframes myfirst1
{
  0%{-webkit-transform:rotateY(0deg);}
  100%{-webkit-transform:rotateY(360deg);}
}
@-webkit-keyframes myfirst2
{
0%{-webkit-transform:rotateY(0deg);}
  100%{-webkit-transform:rotateY(360deg);}
}
@-webkit-keyframes myfirst3
{
0%{-webkit-transform:rotateY(0deg);}
  100%{-webkit-transform:rotateY(360deg);}
}
@-webkit-keyframes myfirst4
{
0%{-webkit-transform:rotateY(0deg);}
  100%{-webkit-transform:rotateY(360deg);}
}
@-webkit-keyframes myfirst5
{
0%{-webkit-transform:rotateY(0deg);}
  100%{-webkit-transform:rotateY(360deg);}
}
@-webkit-keyframes myfirst6
{
0%{-webkit-transform:rotateY(0deg);}
  100%{-webkit-transform:rotateY(360deg);}
}

