/*手机端样式*/
#wrap {display:block;min-width: 320px; margin:0 auto; max-width:640px; width: 100%; height:100%;background:url(//wy626.com/template/mod31/bg.jpg) no-repeat; background-size:100%;}

.telnav {display:block; width:40%; margin-left:8%; position:absolute; top:10%;}
.telbtn01 {display:block; position:relative; float:left; width:100%;margin-bottom:3%; padding:5% 0; background:rgba(255,255,255,0.8); text-align:center; font-size:1rem; color:#333;
-webkit-animation-name: "btn01"; /*动画名称，需要跟@keyframes定义的名称一致*/
-webkit-animation-duration: 1s;/*动画持续的时间长*/
-webkit-animation-iteration-count: 1;/*动画循环播放的次数*/
}
.telbtn02 {display:block; float:left; position:relative;  width:100%;margin-bottom:3%; padding:5% 0; background:rgba(255,255,255,0.8); text-align:center; font-size:1rem; color:#333;
-webkit-animation-name: "btn02"; /*动画名称，需要跟@keyframes定义的名称一致*/
-webkit-animation-duration: 1.1s;/*动画持续的时间长*/
-webkit-animation-iteration-count: 1;/*动画循环播放的次数*/

}
.telbtn03 {display:block; float:left; position:relative;  width:100%;margin-bottom:3%; padding:5% 0; background:rgba(255,255,255,0.8); text-align:center; font-size:1rem; color:#333;
-webkit-animation-name: "btn02"; /*动画名称，需要跟@keyframes定义的名称一致*/
-webkit-animation-duration: 1.2s;/*动画持续的时间长*/
-webkit-animation-iteration-count: 1;/*动画循环播放的次数*/
}
.telbtn04 {display:block; float:left; position:relative;  width:100%;margin-bottom:3%; padding:5% 0; background:rgba(255,255,255,0.8); text-align:center; font-size:1rem; color:#333;
-webkit-animation-name: "btn02"; /*动画名称，需要跟@keyframes定义的名称一致*/
-webkit-animation-duration: 1.3s;/*动画持续的时间长*/
-webkit-animation-iteration-count: 1;/*动画循环播放的次数*/

}
.telbtn05 {display:block; float:left; position:relative;  width:100%;margin-bottom:3%; padding:5% 0; background:rgba(255,255,255,0.8); text-align:center; font-size:1rem; color:#333;
-webkit-animation-name: "btn02"; /*动画名称，需要跟@keyframes定义的名称一致*/
-webkit-animation-duration: 1.4s;/*动画持续的时间长*/
-webkit-animation-iteration-count: 1;/*动画循环播放的次数*/
}
.telbtn06 {display:block; float:left; position:relative;  width:100%;margin-bottom:3%; padding:5% 0; background:rgba(255,255,255,0.8); text-align:center; font-size:1rem; color:#333;
-webkit-animation-name: "btn02"; /*动画名称，需要跟@keyframes定义的名称一致*/
-webkit-animation-duration: 1.5s;/*动画持续的时间长*/
-webkit-animation-iteration-count: 1;/*动画循环播放的次数*/

}
.telbtn07 {display:block; float:left; position:relative;  width:100%;margin-bottom:3%; padding:5% 0; background:rgba(255,255,255,0.8); text-align:center; font-size:1rem; color:#333;
-webkit-animation-name: "btn02"; /*动画名称，需要跟@keyframes定义的名称一致*/
-webkit-animation-duration: 1.6s;/*动画持续的时间长*/
-webkit-animation-iteration-count: 1;/*动画循环播放的次数*/
}
.telbtn08 {display:block; float:left; position:relative;  width:100%;margin-bottom:3%; padding:5% 0; background:rgba(255,255,255,0.8); text-align:center; font-size:1rem; color:#333;
-webkit-animation-name: "btn02"; /*动画名称，需要跟@keyframes定义的名称一致*/
-webkit-animation-duration: 1.7s;/*动画持续的时间长*/
-webkit-animation-iteration-count: 1;/*动画循环播放的次数*/
}

@-webkit-keyframes btn01 {
   from { left:-300px; background:#f60; color:#f60; opacity:0 }
   to {left:0px; background:#fff; color:#333; opacity:1}
}
@-webkit-keyframes btn02 {
   from { left:-300px; background:#f60; color:#f60; opacity:0; }
   to {left:0px; background:#fff; color:#333; opacity:1}
}
@-webkit-keyframes btn03 {
   from { left:-300px; background:#f60; color:#f60; opacity:0 }
   to {left:0px; background:#fff; color:#333; opacity:1}
}
@-webkit-keyframes btn04 {
   from { left:-300px; background:#f60; color:#f60; opacity:0 }
   to {left:0px; background:#fff; color:#333; opacity:1}
}
@-webkit-keyframes btn05 {
   from { left:-300px; background:#f60; color:#f60; opacity:0 }
   to {left:0px; background:#fff; color:#333; opacity:1}
}
@-webkit-keyframes btn06 {
   from { left:-300px; background:#f60; color:#f60; opacity:0 }
   to {left:0px; background:#fff; color:#333; opacity:1}
}
@-webkit-keyframes btn07 {
   from { left:-300px; background:#f60; color:#f60; opacity:0 }
   to {left:0px; background:#fff; color:#333; opacity:1}
}
@-webkit-keyframes btn08 {
   from { left:-300px; background:#f60; color:#f60; opacity:0 }
   to {left:0px; background:#fff; color:#333; opacity:1}
}


footer {display:block; position: fixed; bottom: 0; width:100%; line-height:2.5; background:rgba(255,255,255,0.5); color:#333; font-size:1.4em; text-align:center;}



