/*手机端样式*/
img{-webkit-user-select:​ none}
.main{width: 100%;overflow: hidden;min-width: 300px;max-width: 640px;margin: 0 auto;position: relative;background-image: url(//wy626.com/template/sub/mod55/bg.jpg);}
.menu55{width:100%;overflow:hidden;border-top:1px solid #2a2a2a;}
.menu55 a{display: block;height: 82px;overflow: hidden;background-image: url(//wy626.com/template/sub/mod55/bg.jpg);background-repeat: repeat;border-bottom:1px solid #2a2a2a;}
.menu55 span{display:block;}
.menu55 .menu55_text{width:35%;height:80px;float:left;}
.menu55 .menu55_img{width:65%;height:80px;float:left;text-align:center;}
.menu55_text b{display:block;text-indent:16px;height:22px;line-height:20px;overflow:hidden;color:#FFF;font-size:14px;margin-top:15px;}
.menu55_text i{display:block;padding-left:16px;font-style:normal;font-size:14px;color:#a5a5a5;height:32px;overflow:hidden;}
.menu55_img img{width:150px;height:68px;margin-top:7px;-webkit-transform:skew(-20deg);-moz-transform:skew(-20deg);transform:skew(-20deg);}
footer {background-color:#000;height:28px;line-height:28px;display:block; width:100%; color:#FFF; font-size:1.4em; text-align:center;opacity:0.7;}

.menu55 a:nth-child(1){-webkit-animation: myfirst1 0.8s;}
.menu55 a:nth-child(2){-webkit-animation: myfirst2 0.7s;}
.menu55 a:nth-child(3){-webkit-animation: myfirst3 0.6s;}
.menu55 a:nth-child(4){-webkit-animation: myfirst4 0.5s;}
.menu55 a:nth-child(5){-webkit-animation: myfirst5 0.4s;}
.menu55 a:nth-child(6){-webkit-animation: myfirst6 0.3s;}


@-webkit-keyframes myfirst
{
0%   {width:0%;}
100% {width:100%;}
}
@-webkit-keyframes myfirst1
{
0%   {width:0%;}
100% {width:100%;}
}
@-webkit-keyframes myfirst2
{
0%   {width:0%;}
100% {width:100%;}
}
@-webkit-keyframes myfirst3
{
0%   {width:0%;}
100% {width:100%;}
}
@-webkit-keyframes myfirst4
{
0%   {width:0%;}
100% {width:100%;}
}
@-webkit-keyframes myfirst5
{
0%   {width:0%;}
100% {width:100%;}
}
@-webkit-keyframes myfirst6
{
0%   {width:0%;}
100% {width:100%;}
}


