/*手机端样式*/
body{background-color:#211404;}
img{-webkit-user-select:​ none}
.main{ width:100%;min-width:300px; max-width:640px;margin:0 auto;overflow:hidden; }
.menu38{width:100%;overflow:hidden;display:block}
.menu38_l{display:block;width:25%;float:left;height:85px;background-color:#110E0A;border-bottom:5px solid #2b2419;position:relative;}
.menu38_l i{
	display: block;
	width: 4px;
	height: 7px;
	position: absolute;
	right: 0px;
	top: 50%;
	margin-top: -3px;
	background-image: url(//wy626.com/template/mod38/jt.png);
	background-repeat: no-repeat;
	background-position: -3px -1px;
}
.menu38_l i.ico1{background-position: -3px -1px;}
.menu38_l i.ico2{background-position: -19px -1px;}
.menu38_l i.ico3{background-position: -34px -1px;}
.menu38_l i.ico4{background-position: -50px -1px;}
.menu38_l i.ico5{background-position: -67px -1px;}
.menu38_l i.ico6{background-position: -3px -1px;}

.menu38_l img{display:block;height:100%;margin:0 auto;}
.menu38_r{display:block;width:75%;float:right;height:85px;border-bottom:5px solid #f2f2f2;position:relative;background-color:#E4E4E4;}
.menu38_con{display:block;width:84%;overflow:hidden;margin:0 auto;}
.menu38_r i{display:block;left:0px;top:0px;position:absolute;width:5px;height:85px;}

.menu38_r i.line1{background-color:#FF5C00;}
.menu38_r i.line2{background-color:#00add9;}
.menu38_r i.line3{background-color:#7ab600;}
.menu38_r i.line4{background-color:#eeb22c;}
.menu38_r i.line5{background-color:#9411d1;}
.menu38_r i.line6{background-color:#FF5C00;}

.menu38_con b{display:block;height:28px;line-height:28px;font-size:16px;overflow:hidden;padding-top:10px;color:#333;}
.menu38_con span{display:block;color:#9e9e9e;font-size:14px;height:35px;overflow:hidden;}

footer {background-color:#FFF;height:28px;line-height:28px;bottom:0;display:block; width:100%; color:#000; font-size:1.4em; text-align:center;opacity:0.5;}



.menu38:nth-child(1){-webkit-animation: myfirst1 1.2s;}
.menu38:nth-child(2){-webkit-animation: myfirst2 1.1s;}
.menu38:nth-child(3){-webkit-animation: myfirst3 1s;}
.menu38:nth-child(4){-webkit-animation: myfirst4 0.9s;}
.menu38:nth-child(5){-webkit-animation: myfirst5 0.8s;}
.menu38:nth-child(6){-webkit-animation: myfirst6 0.7s;}




@-webkit-keyframes myfirst1
{
0%   {width:0px}
100% {width:100%}
}
@-webkit-keyframes myfirst2
{
0%   {width:0px}
100% {width:100%}
}
@-webkit-keyframes myfirst3
{
0%   {width:0px}
100% {width:100%}
}
@-webkit-keyframes myfirst4
{
0%   {width:0px}
100% {width:100%}
}
@-webkit-keyframes myfirst5
{
0%   {width:0px}
100% {width:100%}
}
@-webkit-keyframes myfirst6
{
0%   {width:0px}
100% {width:100%}
}


