/*手机端样式*/
#wrap {display:block; position:relative;min-width:320px; margin:0 auto; max-width:640px; width: 100%; overflow:hidden; background:#f2f3f8;}
.banner {display: block; position: relative; width: 100%;}
.banner i{display: block;position: absolute; width: 100%; bottom: -1px;}

.modnav {display:block; width:80%; margin:0 10%; background: url(//wy626.com/template/mod118/bgd.jpg) center center repeat-y;}
.modnav table {font-size: 1rem}
.pic {padding: 3px; border: 1px solid #dedede; background: #fff;-webkit-border-radius: 2px; border-radius: 2px;-webkit-box-shadow: 1px 1px 2px rgba(0,0,0,0.2); box-shadow: 1px 1px 2px rgba(0,0,0,0.2); }
.pt-5 {padding-top: 5%;}
.mt-5 {margin-top:5%;}
.ml-5 {margin-left:10%;}
.mb {margin-bottom: 40%;}
.mt {margin-top: 40%;}
.no-mt {margin-top: -15%;}
.no-mt1 {margin-top: -8%;}
.ml-3 {margin-left: 3%;}
.ml-5 {margin-left: 5%;}
.mr-3 {margin-right: 3%;}
.mr-5 {margin-right: 5%;}
.fl {float:left;}
.fr {float:right;}
footer {display:block; width:100%; line-height:2.5; background:#000; color:#fff; font-size:1.2em; text-align:center;}




