.article {
    position: absolute;
    top: 50px;
    right: 0;
    bottom: 0;
    left: 0;
}
.article .top {
    height: 60px;
    background: #CCCCD6;
}
.article .top .main {
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
}
.article .top .main .back .bg{
    position: absolute;
    background: #FFFFFF;
    width: 30px;
    height: 30px;
    border-radius: 6px;
    box-sizing: border-box;
    margin-top: 15px;
}
.article .top .main .back .bg:before{
    position: absolute;
    background: url("//wy626.com/images/back.png") no-repeat;
    width: 14px;
    height: 14px;
    margin-top: 7px;
    margin-left: 7px;
    content: '';
}
.article .top .main .back .text{
    font-size: 14px;
    margin-left: 40px;
    line-height: 60px;
    color: #7F7F99;
}
.article .top .main .title {
    color: #4C4C70;
    font-size: 20px;
    width: 300px;
    line-height: 60px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}
<<<<<<< HEAD
.article .top .main .href {
    border-radius: 6px;
    color: #7F7F99;
    font-size: 14px;
    width: 123px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    background: #E0E0E6;
    margin-top: 15px;
}
.article .content {
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
}
.article .content .show,
.article .content .edit{
    width: 50%;
}
.article .content .show .mobile {
    margin-left: 40px;
    margin-top: 40px;
    width: 346px;
    height: 580px;
    background: #ECECF0;
    border-radius: 50px;
    box-sizing: border-box;
    padding-top: 20px;
}
.article .content .show .mobile .camera {
    margin-left: 140px;
    height: 10px;
}
.article .content .show .mobile .camera .round {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: #FFFFFF;
}
.article .content .show .mobile .camera .line {
    margin-left: 24px;
    width: 48px;
    height: 8px;
    border-radius: 4px;
    background: #FFFFFF;
    margin-top: 1px;
}
.article .content .show .mobile .phone {
    width: 320px;
    height: 480px;
    margin-top: 15px;
    margin-left: auto;
    margin-right: auto;
    background: #FFFFFF;
}
.article .content .show .mobile .phone .img {
    width: 100%;
    height: 532px;
}
.article .content .show .mobile .home {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    background: #FFFFFF;
}
.article .content .edit {
    margin-bottom: 20px;
}
.article .content .edit .desc{
    width: 508px;
    background: aliceblue;
    border-radius: 6px;
    margin-top: 40px;
    padding: 20px 0;
    box-sizing: border-box;
}
.article .content .edit .desc .text {
=======
.article .content .desc .title {
>>>>>>> 920580ec7acf4ed104757978cb43e27c48196581
    margin-left: 30px;
    height: 40px;
    line-height: 40px;
}
.article .content .desc .title label {
    width: 56px;
    color: #7F7F99;
}
.article .content .desc .title input {
    width: 360px;
    padding-left: 16px;
    padding-right: 16px;
    height: 40px;
    box-sizing: border-box;
    border-radius: 6px;
    background: #FFFFFF;
    border-style: none;
}

.article .content .desc .textarea {
    margin-left: 30px;
    margin-top: 20px;
    margin-bottom: 20px;
}
.article .content .desc .textarea label {
    width: 56px;
    color: #7F7F99;
    box-sizing: border-box;
    padding-top: 12px;
    height: 24px;
    line-height: 24px;
}
.article .content .desc .textarea textarea {
    width: 360px;
    height: 100px;
    box-sizing: border-box;
    border-radius: 6px;
    padding: 12px 14px;
    border-style: none;
    resize: none;
}
.article .top .main .href {
    border-radius: 6px;
    color: #7F7F99;
    font-size: 14px;
    width: 123px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    background: #E0E0E6;
    margin-top: 15px;
}
.article .content {
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
}
.article .content .mobile {
    margin-top: 10px;
    float: left;
}
.article .content .desc {
    float: left;
    margin-left: 20px;
    width: 508px;
    background: #ECECF0;
    border-radius: 6px;
    margin-top: 10px;
    padding-top: 20px;
    box-sizing: border-box;
}
.article .content .operate {
    clear: both;
    margin-top: 20px;
    height: 40px;
    margin-bottom: 20px;
}
.article .content .operate .btn-save {
    color: #FFFFFF;
    width: 150px;
    line-height: 40px;
    text-align: center;
    border-radius: 6px;
    background: #3281F7;
    cursor: pointer;
    margin: 0 auto;
    display: block;
}