/*手机端样式*/
#wrap {display:block;min-width: 320px; margin:0 auto; max-width:640px; width: 100%;background:#f3f3f3;}
.banner { display: block; width: 100%;}
.cont-box {display:block; float:left; width:97.5%; margin:5% 0 5% 2.5%;}
.contbg li {display:block; float:left; overflow:hidden; position:relative;width:30%;margin-right:1.8%; margin-bottom:2.5%;-moz-border-radius:50%;-webkit-border-radius:50%;border-radius:50%; border:2px solid #39a990;}
.contbg li img {width:100%;-moz-border-radius:50%;-webkit-border-radius:50%;border-radius:50%;}
.contbg li p { display:block; position:absolute; bottom:34%; z-index:9; text-align:center; line-height:1.6; color:#fff; background:rgba(57,169,144,0.8);}


.40text {background:rgba(8,148,116,0.8); position:absolute; display:block; z-index:10; line-height:1.5; color:#fff; text-align:center;}
.icon01 {
-webkit-animation-name: "btn01"; /*动画名称，需要跟@keyframes定义的名称一致*/
-webkit-animation-duration: 0.5s;/*动画持续的时间长*/
-webkit-animation-iteration-count: 1;/*动画循环播放的次数*/
}
.icon02 {
-webkit-animation-name: "btn02"; /*动画名称，需要跟@keyframes定义的名称一致*/
-webkit-animation-duration: 0.5s;/*动画持续的时间长*/
-webkit-animation-iteration-count: 1;/*动画循环播放的次数*/
-webkit-animation-delay:0.1s;
}
.icon03 {
-webkit-animation-name: "btn03"; /*动画名称，需要跟@keyframes定义的名称一致*/
-webkit-animation-duration: 0.5s;/*动画持续的时间长*/
-webkit-animation-iteration-count: 1;/*动画循环播放的次数*/
-webkit-animation-delay:0.2s;
}
.icon04 {
-webkit-animation-name: "btn04"; /*动画名称，需要跟@keyframes定义的名称一致*/
-webkit-animation-duration: 0.5s;/*动画持续的时间长*/
-webkit-animation-iteration-count: 1;/*动画循环播放的次数*/
-webkit-animation-delay:0.2s;
}
.icon05 {
-webkit-animation-name: "btn05"; /*动画名称，需要跟@keyframes定义的名称一致*/
-webkit-animation-duration: 0.5s;/*动画持续的时间长*/
-webkit-animation-iteration-count: 1;/*动画循环播放的次数*/
-webkit-animation-delay:0.3s;
}
.icon06 {
-webkit-animation-name: "btn06"; /*动画名称，需要跟@keyframes定义的名称一致*/
-webkit-animation-duration: 0.5s;/*动画持续的时间长*/
-webkit-animation-iteration-count: 1;/*动画循环播放的次数*/
-webkit-animation-delay:0.3s;
}
.icon07 {
-webkit-animation-name: "btn07"; /*动画名称，需要跟@keyframes定义的名称一致*/
-webkit-animation-duration: 0.5s;/*动画持续的时间长*/
-webkit-animation-iteration-count: 1;/*动画循环播放的次数*/
-webkit-animation-delay:0.4s;
}
.icon08 {
-webkit-animation-name: "btn08"; /*动画名称，需要跟@keyframes定义的名称一致*/
-webkit-animation-duration: 0.5s;/*动画持续的时间长*/
-webkit-animation-iteration-count: 1;/*动画循环播放的次数*/
-webkit-animation-delay:0.4s;
}
.icon09 {
-webkit-animation-name: "btn09"; /*动画名称，需要跟@keyframes定义的名称一致*/
-webkit-animation-duration: 0.5s;/*动画持续的时间长*/
-webkit-animation-iteration-count: 1;/*动画循环播放的次数*/
-webkit-animation-delay:0.4s;
}

.arrow {display:block; float:left; width:10%; padding-top:28%;}
#wrap p {display:block; float:left; width:100%; text-align:center; font-size:0.9rem; font-weight:600; line-height:2;}
.lf {display:block; float:left; width:90%;}
.lf img {width:90%;}

@-webkit-keyframes btn01 {
   from {-moz-transform:scale(0,0);-webkit-transform:scale(0,0); -o-transform:scale(0,0);}    
   to {-moz-transform:scale(1,1); -webkit-transform:scale(1,1); -o-transform:scale(1,1);}
}
@-webkit-keyframes btn02 {
   from {-moz-transform:scale(0,0);-webkit-transform:scale(0,0); -o-transform:scale(0,0);}    
   to {-moz-transform:scale(1,1); -webkit-transform:scale(1,1); -o-transform:scale(1,1);}
}
@-webkit-keyframes btn03 {
   from {-moz-transform:scale(0,0);-webkit-transform:scale(0,0); -o-transform:scale(0,0);}    
   to {-moz-transform:scale(1,1); -webkit-transform:scale(1,1); -o-transform:scale(1,1);}
}
@-webkit-keyframes btn04 {
   from {-moz-transform:scale(0,0);-webkit-transform:scale(0,0); -o-transform:scale(0,0);}    
   to {-moz-transform:scale(1,1); -webkit-transform:scale(1,1); -o-transform:scale(1,1);}
}
@-webkit-keyframes btn05 {
   from {-moz-transform:scale(0,0);-webkit-transform:scale(0,0); -o-transform:scale(0,0);}    
   to {-moz-transform:scale(1,1); -webkit-transform:scale(1,1); -o-transform:scale(1,1);}
}
@-webkit-keyframes btn06 {
   from {-moz-transform:scale(0,0);-webkit-transform:scale(0,0); -o-transform:scale(0,0);}    
   to {-moz-transform:scale(1,1); -webkit-transform:scale(1,1); -o-transform:scale(1,1);}
}
@-webkit-keyframes btn07 {
   from {-moz-transform:scale(0,0);-webkit-transform:scale(0,0); -o-transform:scale(0,0);}    
   to {-moz-transform:scale(1,1); -webkit-transform:scale(1,1); -o-transform:scale(1,1);}
}
@-webkit-keyframes btn08 {
   from {-moz-transform:scale(0,0);-webkit-transform:scale(0,0); -o-transform:scale(0,0);}    
   to {-moz-transform:scale(1,1); -webkit-transform:scale(1,1); -o-transform:scale(1,1);}
}
@-webkit-keyframes btn09 {
   from {-moz-transform:scale(0,0);-webkit-transform:scale(0,0); -o-transform:scale(0,0);}    
   to {-moz-transform:scale(1,1); -webkit-transform:scale(1,1); -o-transform:scale(1,1);}
}

footer {display:block; width:100%; line-height:2.5; background:#333; color:#fff; font-size:1.4em; text-align:center;}



