/*手机端样式*/
#wrap {width:100%;min-height:100%;min-width:320px; max-width:640px;margin:0 auto; background-color:#330000; position:relative;}
.banner, .banner img{display:block; width:100%;}
.modbgd {display:block;width:90%; position:relative; margin:0 auto;padding:5% 0 30px; 
-webkit-animation-name: "bgd"; /*动画名称，需要跟@keyframes定义的名称一致*/
-webkit-animation-duration: 2s;/*动画持续的时间长*/
-webkit-animation-iteration-count: 1;/*动画循环播放的次数*/}
.menu {display:block; width:84%;position:relative;padding:3% 8%;  background-color:rgba(255,255,255,0.4); -moz-border-radius:50px;-webkit-border-radius:50px;-o-border-radius:50px; border-radius:50px; margin-bottom:3%;
animation:mymove 1.5s infinite;
-webkit-animation:mymove 1.5s infinite;
animation-iteration-count:1;
-webkit-animation-iteration-count:1;
}
.tle{float:left;display:inline-block; width:68%;font-size:1rem;line-height:28px; color:#000;}
.icon{float:right;display:inline-block;}
footer{position:fixed;bottom:0;display:block; width:100%; line-height:30px; background:#000; color:#fff; font-size:0.9rem; text-align:center;}

@-webkit-keyframes mymove {
     from {left:-600px;}    
     to {left:0px;}
  }
@-webkit-keyframes 'bgd' {
     from { opacity:0}    
     to { opacity:1;}
  }  
