/*手机端样式*/
footer{font-size:1.4em;height:30px;line-height:30px;background-color:#333333;border-top:1px solid #2B2726;text-align:center;color:#9495a4;}
.banner{max-width:640px;width:100%;overflow:hidden;margin:0 auto;}
.banner img{display:block;width:100%;}
.main{max-width:640px;margin:0 auto;width:100%;overflow:hidden;-webkit-box-sizing: border-box; -moz-box-sizing:border-box;}
.nav{width:99%;margin-left:1%;overflow:hidden;padding-bottom:2%;}
.box{width:31%;overflow:hidden;float:left;margin:0 1%;margin-top:2%;position:relative;}
.box img{display:block;width:100%;}
.box span{display:block;width:100%;position:absolute;bottom:5%;height:22px;line-height:22px;font-size:14px;text-align:center;color:#FFF;}

