/*手机端样式*/
#wrap { display:block; position:relative; min-width: 320px; max-width:640px; margin:0 auto; width: 100%;height:100%; overflow: hidden;background:url(//wy626.com/template/mod01/bgd.jpg) no-repeat; background-size:100%;-webkit-box-sizing: border-box; -moz-box-sizing:border-box;}
.modbgd {display:block; width:35%; position:absolute; bottom:15%; left:5%; background:rgba(255,255,255,0.7);-moz-border-radius:10px;-webkit-border-radius:10px;-o-border-radius:10px; border-radius:10px; padding:2% 2% 0.5% 2%;
-webkit-animation-name: "modbgd"; /*动画名称，需要跟@keyframes定义的名称一致*/
-webkit-animation-duration: 2s;/*动画持续的时间长*/
-webkit-animation-iteration-count: 1;/*动画循环播放的次数*/}
.menu {display:block; width:90%;position:relative;  padding:0% 5%; line-height:2; background:rgba(13,42,12,0.7);-moz-border-radius:10px;-webkit-border-radius:10px;-o-border-radius:10px; border-radius:10px; margin-bottom:7%; color:#fff; font-size:1.6em; line-height:2.5;
animation:mymove 1.5s infinite;
-webkit-animation:mymove 1.5s infinite;
animation-iteration-count:1;
-webkit-animation-iteration-count:1;
}
.menu img {margin-right:2px;width:18px;height:18px; margin-bottom:2px;}

@-webkit-keyframes mymove {
     from { left:-300px;}
     to {left:0px;}
  }
@-webkit-keyframes 'modbgd' {
     from { opacity:0}
     to { opacity:1;}
  }


